@{
    ViewData["Title"] = "Página Inicial - ";
}

<h1 class="text-center h1-grupo-casamento mt-3 mb-3"> Página somente Admin</h1>

<div style="background-color: #262626; border-radius: 1rem; margin: 0 20px 35px 20px; position: relative; top:10%;">
<p class="p-apresentacao-index">
    Página restrita somente para Admin. Clique no botão abaixo para voltar à tela inicial
</p>
</div>

<a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-primary" style="padding: 11px; border-radius: 22px; margin-left:20px;">Voltar à página Inicial</a>