@{
    ViewData["Title"] = "Grupo Casamento L’Acordes - ";
}

<section class="img-grupo-casamento">
    <h1 class="text-center h1-grupo-casamento">Grupo Musical L’Acordes</h1>
</section>

<div data-aos="fade-up">
    <h2 class="text-center mt-4 mb-4"> Sobre o Grupo</h2>
</div>

<div data-aos="zoom-in-right" style="background-color: #262626; border-radius: 1rem; margin: 0 20px 0 20px;">
    <p class="p-apresentacao-index">
        O L’Acordes é um grupo musical especializado em cerimônias de casamento, com ampla experiência na condução musical de momentos únicos e inesquecíveis.
    </p>
</div>


    <div data-aos="fade-up">
        <h2 class="text-center pt-3"> Formação do Grupo </h2>
    </div>

    <div data-aos="zoom-in-left" style="position: relative; top: 10%;">

        <div class="lista-musicas">

            <div class="icone-topo text-center">
            <i class="fa-solid fa-guitar"></i>
            </div>

            <ul>
                <li>Violão</li>
                <li>Teclado</li>
                <li>Violino</li>
                <li>Voz Feminina</li>
                <li>Voz Masculina</li>
            </ul>
        </div>
    </div>



<div class="img-fundo-casamento">
    <div data-aos="zoom-in-right" style="background-color: #262626; border-radius: 1rem; margin: 0 20px 0 20px; position: relative; top:10%;">

        <div class="icone-topo text-center">
            <i class="fa-solid fa-dove"></i>
        </div>

        <p class="p-apresentacao-index">
            Contamos com estrutura completa de som, preparada para atender toda a cerimônia desde a entrada dos padrinhos até o encerramento, com elegância, emoção e excelência sonora.
            <br />
            <br />
            Nossa atuação é marcada por :
            <br />
            <br />
            • Sensibilidade musical para cada momento da cerimônia
            <br />
            • Organização e pontualidade;
            <br />
            • Repertório personalizado conforme o desejo dos noivos
            <br />
            • Experiência e cuidado em celebrações matrimoniais
            <br />
            <br />
            ✨ Cada casamento é tratado como único, respeitando o sonho e a história do casal.
        </p>
    </div>
</div>

<div data-aos="fade-up">
    <h2 class="text-center mt-4 mb-4">Agendamentos e Informações</h2>
</div>

<div style="background-color: #262626; border-radius: 1rem; margin: 0 20px 0 20px;">
    <p class="p-apresentacao-index">
        Para agendamentos e informações, entre em contato clicando no botão abaixo
    </p>
</div>

<div class="text-center">
    <a href="https://wa.me/5569992955498?text=@TempData["MensagemWhatsapp"]" target="_blank" class="btn btn-success" style="padding: 13px; border-radius: 31px;">Whatsapp</a>
</div>

<div class="text-center mt-4">
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="padding: 13px; border-radius: 31px;">Voltar à página inicial</a>
</div>