@{
    ViewData["Title"] = "Página Inicial - ";
}

<section class="image-pagina-inicial">
    <h1 class="text-center">Jucimar Moraes</h1>
    <h2 class="text-center img-h2">Voz e Violão</h2>
</section>

<div data-aos="fade-up">
    <h2 class="text-center mt-4 mb-4"> Sobre Jucimar Moraes</h2>
</div>

<div data-aos="zoom-in-right" style="background-color: #262626; border-radius: 1rem; margin: 0 20px 0 20px;">

        <p class="p-apresentacao-index">
            Sou músico profissional com mais de 15 anos de experiência, atuando em apresentações ao vivo e projetos musicais diversos. Minha trajetória une sensibilidade artística, técnica musical e profissionalismo, proporcionando experiências musicais marcantes e acolhedoras para todos os públicos.
            <br/>
            <br />
            Além da atuação como cantor e instrumentista, possuo formação e vivência em musicoterapia, o que reflete diretamente na forma como conduzo cada apresentação: leitura do ambiente, escolha adequada do repertório, interação respeitosa com o público e entrega musical com emoção e equilíbrio.
            Cada show é pensado para valorizar o momento, o ambiente e as pessoas presentes.
        </p>
    </div>

<div class="img-tipos-musicas">

    <div data-aos="fade-up">
        <h2 class="text-center pt-3"> Estilos Musicais </h2>
    </div>

<div data-aos="zoom-in-left" style="position: relative; top: 10%;">

    <div class="lista-musicas">

        <div class="icone-topo text-center">
            <i class="fa-solid fa-music"></i>
        </div>

        <ul>
            <li>MPB</li>
            <li>Pop Rock Nacional</li> 
            <li>Sertanejo</li>
            <li>Xote</li>
            <li>Forró</li>
            <li>Músicas Religiosas</li>
        </ul>
    </div>
</div>
</div>

<div data-aos="fade-up">
    <h2 class="text-center mt-4 mb-4">Equipamentos</h2>
</div>

<div data-aos="zoom-in-right" style="background-color: #262626; border-radius: 1rem; margin: 0 20px 0 20px;">

    <div class="icone-topo text-center">
        <i class="fa-solid fa-sliders"></i>
    </div>

    <p class="p-apresentacao-index">
       Trabalho com equipamentos de altíssima qualidade, garantindo excelente definição sonora, volume equilibrado e alcance ideal para diferentes tamanhos de público, seja em ambientes intimistas ou eventos maiores.
    <br />
    <br />
        Todo o sistema de som é próprio, moderno e bem ajustado, proporcionando conforto acústico e qualidade profissional.
    </p>
</div>


<div class="img-lista-eventos">

    <h2 class="text-center pt-3" style="position: relative; top: 4%;"> Tipos de Eventos </h2>

    <div data-aos="zoom-in-left" style="position: relative; top: 10%" class="lista-eventos">

        <div class="icone-topo text-center">
            <i class="fa-solid fa-calendar-check"></i>
        </div>

        <ul>
            <li>Casamentos (cerimônia e recepção)</li>
            <li>Aniversários</li>
            <li>Eventos sociais</li>
            <li>Eventos corporativos</li>
            <li>Confraternizações</li>
            <li>Jantares e recepções</li>
            <li>Eventos religiosos</li>
            <li>Apresentações culturais e institucionais</li>
            <li>(Outros formatos podem ser avaliados sob consulta)</li>
            </ul>
    </div>
</div>

<div data-aos="fade-up">
<h2 class="text-center mt-4 mb-4"> Duração e Valores </h2>
</div>

<div class="horas-grid mb-5">
    <div class="hora-card">
        <span class="tempo">1 Hora</span>
        <span class="valor">R$ 250</span>
    </div>

    <div class="hora-card">
        <span class="tempo">2 Horas</span>
        <span class="valor">R$ 400</span>
    </div>

    <div class="hora-card">
        <span class="tempo">3 Horas</span>
        <span class="valor">R$ 600</span>
    </div>

    <div class="hora-card">
        <span class="tempo">4 Horas</span>
        <span class="valor">R$ 800</span>
    </div>
</div>

<div class="text-center button-pagina-inicial">
    <a class="btn btn-primary" asp-controller="Agendamento" asp-action="Index" style="padding: 15px; border-radius: 65px;">Agende Seu Evento</a>
</div>
<div class="text-center button-pagina-inicial">
    <a class="btn btn-primary" asp-controller="Home" asp-action="GrupoCasamento" style="padding: 15px; border-radius: 65px;">Grupo Musical para Casamentos</a>
</div>
